@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    //var articles = Model.Root().Descendants().Where(x => x.ContentType.Alias == "article").OrderByDescending(y => y.Value<DateTime>("articleDate")).ToList();

    var articles = Model.Root().Descendants<Article>().Where(x => x.IsVisible()).OrderByDescending(y => y.ArticleDate);

}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (articles != null && articles.Any())
            {
                foreach(var article in articles)
                {

                <div class="post-preview">
                    <a href="@article.Url">
                        <h2 class="post-title">
                            @if(!string.IsNullOrEmpty(article.Title))
                            {
                                @article.Title
                            }
                        </h2>
                        <h3 class="post-subtitle">
                            @if (!string.IsNullOrEmpty(article.Subtitle))
                            {
                                @article.Subtitle
                            }
                        </h3>
                    </a>
                    <p class="post-meta">
                        @if (!string.IsNullOrEmpty(article.ArticleName))
                        {
                            @Html.Raw("Posted by ") @article.ArticleName

                        }
                        on @article.ArticleDate
                    </p>
                </div>
                <hr>
                }
            }

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="/blog/">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>